<div class="item-details"><span>Title:</span><%= @item.title %></div>
<div class="item-details"><span>Description:</span> <%=  @item.description %></div>
<div class="item-details"><span>Price:</span><%=  @item.price %></div>
<br/><br/>
<%= link_to 'Back', items_path %>
