// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div[id*='item-']  {
    width: 24%;
    color: #00E;
    float: left;
    margin:0.35em;
    h5 {
        margin: 0 auto;
        text-align: left;
        padding-left: 3px;
    }
}

.item {
    margin: 0.3em;
    font-size: 12px;
}
.item-details  {
    width:25%;
    margin: 0.5em;
    span {
        width:50%;
        display:inline-block;
        text-align:right;
        margin-right: 0.5em;
    }
}